$background: black;
$accent: #75DDDD;
$comps: #508991;
$text-color: #004346;
$hover: #09BC8A;

@mixin flexPreset($flow: row wrap, $align-items: flex-start, $justify-content: flex-start) {
  display: flex;
  flex-flow: $flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

.App {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

}

html, body {
  background-color: $background;
  overflow-y:unset;
  font-family: Sawasdee, fantasy !important;
}

.top-bar {
  display: flex;
  padding: 15px 10px 10px 10px;
  height: 50px;
  margin-top: -5px;
  margin-bottom: 15px;
  flex-flow: row nowrap;
  justify-content: flex-end;
  //box-shadow: 0 2px 8px black;
  position: fixed;
  top: 0;
  right: 0;
  //width: 0;

}
.top-bar__search {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: center;
  background-color: lighten($background, 20%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 10px;
  border-radius: 4px;
  color: white;
  max-height: 50px;
  transition: border-bottom-color 0.2s ease-out, width 0.2s ease-out;
  width: 0%;
  overflow: hidden;
  &.active {
    width: 100%;
    transition: width 0.2s ease-out;
  }
  input {
    width: 100%;
    padding-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
}

.top-bar__search:hover {
  outline: #282c34;
  transition: border-bottom-color 0.2s ease-out;
}

.top-bar__input {
  border: none;
  background-color: lighten($background, 20%);

  padding-left: 3px;
  line-height: 40px;
  color: white;
  font-size: 21px;
}

.top-bar__input:focus {
  outline: $accent;
}


.top-bar__btn {

  @include flexPreset(row nowrap, center, center);
  padding: 10px;
  background: $comps;
  color: $text-color;
  font-size: 28px;
  line-height: 47px;
  opacity: 0.5;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  animation: example 250ms linear 1 normal;
}

@keyframes example {
  0%   {opacity: 0}
  50%  {background-color:black; opacity: 0.5}
  100% {background-color: black; opacity: 1}
}

img{
  max-height: 95vh;
  max-width: 100%;
  border-radius: 4px;
  transition: all 250ms;
}


/*img:hover {*/
  /*transform: scale(2,2);*/
  /*box-shadow: 0px 2px 10px 1px black;*/
  /*transition: all 250ms;*/
/*}*/

top-bar__btn .load-more__btn {
  align-self: center;
}

.load-more__btn {
  border-radius: 50% !important;
  height: 200px;
  width: 200px;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-self: center;
}
.btn {
  cursor: pointer;
  outline: none;
  border:none;
  box-shadow: 0 1px 4px black;
  border-radius: 2px;
  transition: transform 250ms;

  &:hover {
    background-color: $hover;
  }

  &:active {
    outline: none;
    border:none;
    box-shadow: 0 0px 0px black;
    //transform: scale(0.9);
    //transition: transform 250ms;

  }

  &.close-btn {

    display: flex;
    align-items: center;
    background-color: transparent;
    padding-right: 5px;
    box-shadow: none;
    color: $comps;
    font-size: 28px;
    align-self: center;
    text-anchor: middle;
        &:hover {
      color: $hover;
    }
  }

}



.fs__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  font-size: 40px;
  padding: 2px 2px;
  color: $text-color;
  background-color: $comps;
}

.gfycat__container {
  position: relative;
  padding-bottom: 50%;
  width: 80%;
}